<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BookStoreDB"
         connectionString="Server=localhost;Database=BookStoreDB_PRN;User Id=sa;Password=1234567890;TrustServerCertificate=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>